@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #393b3d;
    --white: #fff;
    --button-search: #B81D24;
}

* { 
    box-sizing: border-box;
    font-family: 'Open Sans'; sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    background-color: var(--bg-gray);
}

    header {
        background-color: var(--color-primary);
        color: var(--white);
        height: 60px;
        display: flex;  
    }
    
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

    nav h1, h2 {
        font-size: 24px;
        font-weight: 700;
    }

    nav a{
    font-size: 12px;
    font-weight: 400;
}

    a, a:hover {
        text-decoration: none;
        color: unset;
    }

    .github-contact-container {
        display: flex;
        align-items: center;

    }

    .github-contact-container img {
        margin-right: 10px;
    }
    
    #dsmovie-card-list {
    padding: 40px 0;
    }
    
    .dsmovie-card {
        width: 100%;
        
    }

    .dsmovie-card img {
        width: 100%;
        width: 100%;
        border-radius: 8px 8px 0 0;

    }

    .dsmovie-card-description {
        background-color: var(--color-primary);
        padding: 10px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 8px 8px;
        min-height: 150px;
    }

    .dsmovie-card-description h3 {
        margin-bottom: 25px;
        color: #ddd;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    /* Animated Botton */

    button {
    border: none;
    transition: all .5s;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
}

button span {
    display: inline-block;
    position: relative;
    transition: all .5s;
}

button:hover {
    cursor: pointer;
}

.bounce-effect:hover {
    width: 189px;
    height: 42px;
}

.bounce-effect:active {
    width: 171px;
    height: 38px;
}


.third-button {
    background: #b13636;
    border-radius: 12px;
    color: #FFF;
    padding: 0;
    outline-offset: 4px;
}

.third-button span {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    background: #f04949;
    transform: translateY(-7px);
}

.third-button:hover span {
    transform: translateY(-6px);
}

.third-button:active span {
    transform: translateY(-1px);
}
        
      
        
        