
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
    font-family: 'Open Sans', sans-serif;
}

    header {
        background-color: #4D41C0;
        color: #fff
    }

    a, a:hover {
        text-decoration: none;
        color: unset;
    }