@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #393b3d;
    --white: #fff;
    --button-search: #B81D24;
    --text-light-gray:#aaa;
    --background: #0e091b;
    --star-yellow: #FFBB3A;


}

* { 
    box-sizing: border-box;
    font-family: 'Open Sans'; sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    background-color: var(--background);
    
}

    header {
        background-color: var(--color-primary);
        color: var(--white);
        height: 60px;
        display: flex;  
    }
    
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

    nav h1, h2 {
        font-size: 24px;
        font-weight: 700;
    }

    nav a{
    font-size: 12px;
    font-weight: 400;
}

    a, a:hover {
        text-decoration: none;
        color: unset;
    }

    .github-contact-container {
        display: flex;
        align-items: center;

    }

    .github-contact-container img {
        margin-right: 10px;
    }
    
    .dsmovie-pagination-container{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }

    .dsmovie-pagination-box{
        display: flex ;
        width: 280px;
        justify-content: space-between;
        align-items: center;
    }

    .dsmovie-pagination-box p{
        margin: 0;
        font-size: 19px;
        color: var(--button-search);
        font-weight: 400;
    }
    
    #dsmovie-card-list {
    padding: 0 10px;
    }
    
    .dsmovie-card {
        width: 100%;
        
    }

    .dsmovie-card img {
        width: 100%;
        width: 100%;
        border-radius: 8px 8px 0 0;

    }

    .dsmovie-card-description {
        background-color: var(--color-primary);
        padding: 10px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 8px 8px;
        height: 220px;
    }

    .dsmovie-card-description h3 {
        margin-bottom: 25px;
        color: #ddd;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .dsmovie-form-container {
        padding: 40px 0 ;
        max-width: 480px;
    }
    
    .dsmovie-form {
        width: 100%;

    }
    
    .dsmovie-form-description{
        background-color: var(--color-primary);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0 8px 8px; 
    }

    .dsmovie-form-description h3{
        font-size: 13px;
        font-weight: 700;
        margin: 20px;
        color: #ddd;
    }

    .dsmovie-card-description-bottom h4{
        font-size: 16px;
        font-weight: 700;
        color: var(--star-yellow);
}
    .dsmovie-card-description-bottom p{
        font-size: 12px;
        font-weight: 700;
        color:var(--text-light-gray) ;
        margin-bottom: 10px;
    }
    .dsmovie-card-description-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dsmovie-card-description-bottom img{
        width: 22px;
        cursor: default;
        

    }
    
    .dsmovie-form-btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dsmovie-form-group{
        margin-bottom: 20px;
    }
    .dsmovie-form-group label{
        font-size: 12px;
        color: var(--text-light-gray);

    }
    
    
    
    /* Animated Botton */

    button, .arrow-button, .arrow-next {
    border: none;
    transition: all .5s;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin: 8px;
    }

    button p, .arrow-button img, .arrow-next img{
    display: inline-block;
    position: relative;
    transition: all .5s;
}


.container-button p{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
}

button:hover {
    cursor: pointer;
}

.bounce-effect:hover {
    width: 189px;
    height: 42px;
}

.bounce-effect:active {
    width: 171px;
    height: 38px;
}


.third-button {
    background: #b13636;
    border-radius: 8px;
    color: #FFF;
    padding: 0;
    outline-offset: 4px;
}

.third-button p {
    display: block;
    padding: 12px 42px;
    border-radius: 8px;
    background: #f04949;
    transform: translateY(-7px);
}

.third-button:hover p {
    transform: translateY(-6px);
}

.third-button:active p {
    transform: translateY(-1px);
}


/*Cancel button animated*/
        
.third-button-cancel {
    background: #b13636;
    border-radius: 8px;
    color: #FFF;
    padding: 0;
    outline-offset: 4px;
}

.third-button-cancel {
    display: block;
    padding: 12px 42px;
    border-radius: 8px;
    background: #f04949;
    transform: translateY(-7px);
}

.third-button-cancel:hover p {
    transform: translateY(-6px);
}

.third-button-cancel:active p {
    transform: translateY(-1px);
}
      
 
/* arrow button */

.arrow-button, .arrow-next{
    background: transparent;
    border-radius: 8px;
    color: #FFF;
    padding: 0 0 0px;
    outline-offset: 0px;
    width: 90px;
    height: 41px;
}

.arrow-button img, .arrow-next img{
    display: flex;
    padding: 14px 40px;
    border-radius: 8px;
    background: transparent;
    transform: translateY(-7px);
    margin: 5px;
}

.arrow-button:hover img {
    transform: translateY(-6px);
}

.arrow-button:active img {
    transform: translateY(-1px);
}

.arrow-next img{
    transform: rotate(180deg);
    padding: 15px 29px 7px 29px;
    filter: invert(57%) sepia(61%) saturate(6069%) hue-rotate(335deg) brightness(100%) contrast(88%)
}

/* page footer */

.footer{
    border-top: 2px solid var(--text-light-gray);
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.footer span {
    margin: 10px;
    color: var(--white);
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.sharelinks a {
    margin: 3px;
}
 
.github-img{ height: 30px;
    width: 30px;
    margin-right: 13px;

 }

 .linkedin-img {
    height: 30px;
    width: 30px;
    margin-right: 13px;
 }

 .instagram-img{
    height: 30px;
    width: 30px;
    margin-right: 13px;

}


        